h1{
    color: #1d3557;
}

ul{
    list-style-type: none;
    background-color: #457b9d;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/*Para que se vean de forma horizontal y no vertical*/
li{
    float: left;
}

/*Lista con links
se le aplica solo a los items de listas que tengan links*/
li a{
    display: block; /*separar lo por bloques*/
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none; /*Le quita el subrayado*/ 
}

li a:hover{
    background-color: #1d3557;
}